@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: min(310px, 15vw);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.flex-center {
    @apply flex items-center justify-center;
}

.like-btn:hover .like-text {
    display: none;
}

.like-btn:hover::after {
    content: "Like";
    vertical-align: middle;
}

.comment-btn:hover .comment-text {
    display: none;
}

.comment-btn:hover::after {
    content: "Comment";
    vertical-align: middle;
}

.share-btn:hover .share-text {
    display: none;
}

.share-btn:hover::after {
    content: "Share";
    vertical-align: middle;
}

